@page "/"
@using JGUZDV.PasskeyAuth.Endpoints

@model JGUZDV.PasskeyAuth.Pages.IndexModel

@{
    ViewData["clickless"] = Model.ClicklessPasskey ? "true" : "false";

    var routeData = new Dictionary<string, string?>
    {
        { "returnUrl", Model.ReturnUrl }
    };
}

@* Browser is passkey-capable *@
<div class="passkey-capable">
    <form id="auth-form" name="auth-form" asp-route="@EndpointNames.PasskeyAssertion" asp-all-route-data="routeData" method="post" enctype="multipart/form-data">
        <input type="hidden" id="assertion-response" name="WebAuthNResponse" />
    </form>
    <div>
        <status-message class="d-block text-center mt-2" id="status-message" message-key=""></status-message>
    </div>
    @if (!Model.ClicklessPasskey) {
        @* Tasten zum Triggern von OTP / Info *@
        <div class="action-buttons">
            <button class="btn btn-dark" passkey-auth><i class="fa fa-fw fa-key"></i> @SL["OTP:InitButton"]</button>
            <a href="~/Info" class="btn btn-light"><i class="fa fa-fw fa-info-circle"></i> @SL["Info:InitButton"]</a>
        </div>
    }
</div>

<div class="passkey-incapable">
    @if (Model.AllowOneTimePassword)
    {
        <p>@SL["OTP:Manual", $"{Request.Scheme}://{Request.Host}"]</p>

        <form id="one-time-password" asp-route="@EndpointNames.OTPLogin" asp-all-route-data="routeData" method="post" enctype="multipart/form-data">
            <div class="mb-2">
                <label class="form-label" for="otpValue">@SL["OTP:InputLabel"]</label>
                <input type="text" class="form-control" id="otpValue" name="otpValue" />
            </div>
            <button type="submit" class="btn btn-dark">@SL["OTP:InputButton"]</button>
        </form>
    }
    else
    {
        <div class="text-center">
            @SL["PK:NotPossible"]
        </div>
    }
</div>

<script defer src="/ts/Index.js" type="module"></script>
